<h1> <center> 0 - Countries </center> </h1> 

**Authors:** Sebastião Rosalino, Flávio Pinheiro, António Curado

# Table of Contents

1. [Exporting Dataset](#Exporting-Dataset)

In [1]:
# Import the necessary libraries and configurations
import pandas as pd
import warnings 

# Suppress all warnings
warnings.filterwarnings('ignore')

In [2]:
# Load the countries dataset
countries = pd.read_csv('../datasets/first_stage/countries.csv')

In [3]:
# Check the shape (number of rows and number of features) of the countries dataset
print(f'countries number of rows: {countries.shape[0]}')
print(f'countries number of features: {countries.shape[1]}')

countries number of rows: 28
countries number of features: 3

In [4]:
# Check the structural information of the countries dataset, including column names, non-null counts, datatypes and size
countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   code         28 non-null     object
 1   iso_alpha_2  28 non-null     object
 2   label        28 non-null     object
dtypes: object(3)
memory usage: 800.0+ bytes

In [5]:
# Check for duplicated rows in the countries dataset
duplicates = countries.duplicated()

# Display the count of duplicated rows
print(f"Number of duplicated rows in countries: {duplicates.sum()}")

Number of duplicated rows in countries: 0

In [6]:
# Visualize the countries dataset
countries

   code iso_alpha_2           label
0   LUX          LU      Luxembourg
1   GBR          GB  United Kingdom
2   DEU          DE         Germany
3   PRT          PT        Portugal
4   ESP          ES           Spain
5   FIN          FI         Finland
6   ITA          IT           Italy
7   AUT          AT         Austria
8   BEL          BE         Belgium
9   NLD          NL     Netherlands
10  FRA          FR          France
11  CZE          CZ         Czechia
12  POL          PL          Poland
13  HUN          HU         Hungary
14  SVK          SK        Slovakia
15  CYP          CY          Cyprus
16  IRL          IE         Ireland
17  MLT          MT           Malta
18  DNK          DK         Denmark
19  SVN          SI        Slovenia
20  GRC          GR          Greece
21  LVA          LV          Latvia
22  ROU          RO         Romania
23  SWE          SE          Sweden
24  LTU          LT       Lithuania
25  BGR          BG        Bulgaria
26  HRV          HR         Croatia
27  EST          EE         Estonia

In [7]:
# Remove the 'iso_alpha_2' column, as it is irrelevant
countries.drop('iso_alpha_2', axis=1, inplace=True)

In [8]:
# Visualize the resulting countries dataset
countries

   code           label
0   LUX      Luxembourg
1   GBR  United Kingdom
2   DEU         Germany
3   PRT        Portugal
4   ESP           Spain
5   FIN         Finland
6   ITA           Italy
7   AUT         Austria
8   BEL         Belgium
9   NLD     Netherlands
10  FRA          France
11  CZE         Czechia
12  POL          Poland
13  HUN         Hungary
14  SVK        Slovakia
15  CYP          Cyprus
16  IRL         Ireland
17  MLT           Malta
18  DNK         Denmark
19  SVN        Slovenia
20  GRC          Greece
21  LVA          Latvia
22  ROU         Romania
23  SWE          Sweden
24  LTU       Lithuania
25  BGR        Bulgaria
26  HRV         Croatia
27  EST         Estonia

## 1. Exporting Dataset
<a id="Exporting-Dataset"></a>

In [9]:
# Export the countries dataset in its current stage to the corresponding local folder
countries.to_csv("../datasets/second_stage/0_countries/countries.csv", index=False)